@import "tailwindcss";
body{
  min-width: 320px;
}
@theme {
    --text-big: 3rem;
    --text-mid: 2rem;
    --color-reg: #FFB726;
    --drop-shadow-3xl: 0 10px 50px rgba(0, 0, 0, 0.25); 
    --breakpoint-xm: 55rem;

}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }